*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-text-muted: rgb(126, 151, 203);
}
body {
    background-image: url("../assets/bg.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  padding: 2em;
  max-width: 80%;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
}
header .subscribe-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  margin-right: 5em;
}
header .subscribe-link .bullet {
  margin: 0 1em;
}
header .separator {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  line-height: 0.5em;
  font-size: 0.5em;
  margin-right: 0.5em;
}

/* social menu */
header nav.social-nav {
  display: flex;
}
header nav.social-nav i {
  font-size: 1.5em;
  padding: 0.25em;
  color: var(--clr-text-muted);
  border-bottom: solid var(--clr-text-muted) 2px;
  width: 1.5em;
  text-align: center;
}
header nav.social-nav .fa-facebook-f {
  background: rgb(54, 67, 133);
  --clr-text-muted: rgb(98, 111, 163);
}
header nav.social-nav .fa-rss {
  background: rgb(191, 125, 39);
  --clr-text-muted: rgb(208, 157, 87);
}
header nav.social-nav .fa-twitter {
  background: lightblue;
  --clr-text-muted: rgb(125, 151, 202);
}
header nav.social-nav .fa-youtube {
  background: tomato;
  --clr-text-muted: rgb(181, 84, 179);
}

header nav.social-nav a + a {
  margin-left: 0.4em;
}
/* end social menu */
/* main nav */
nav.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.nav-button {
  position: relative;
  color: white;
  background-color: rgb(164, 32, 35);
  font-size: 0.8em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: solid gray 2px;
  width: 23%;
  text-align: center;
}
.nav-button::before,
.nav-button::after {
  content: "-";
  font-size: 2em;
  position: absolute;
  left: 0.3em;
  top: 0;
  line-height: 1;
}
.nav-button::after {
  left: unset;
  right: 0.3em;
}


/* end main nav */
/* banner logo */

#banner-logo {
  position: relative;
  background: white;
  height: 35em;
  width: 100%;
  background-image: url("../assets/top-image.png");
  background-size: cover;
  margin-bottom: 1em;
}
#banner-bg {
  width: 100%;
  height: 100%;
  background-image: url("../assets/grid.png");
  background-size: cover;
  opacity: 0.3;
}
#banner-logo img {
  position: absolute;
  width: 38%;
  top: 15%;
  left: 2%;
}
.horizontal-separator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.horizontal-separator .circle {
  border-radius: 50%;
  background-color: white;
  height: 0.5em;
  width: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-separator .circle + .circle {
  margin-left: 0.5em;
}
.circle.inner-circle {
  height: 0.25em;
  width: 0.25em;
  background-color: red;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card {
  background: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 1em;
}
.card h2 {
  color: #666;
  margin-bottom: 1em;
}
.card .post-date {
  color: #999;
  margin-bottom: 1em;
}
.card p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1em;
}
.card .read-more {
  color: darkred;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}
.card .read-more::before {
  content: "[ ";
}
.card .read-more::after {
  content: " ]";
}

.cards > .card + .card {
  margin-left: 1em;
}

#skaters {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}
#skaters .skaters-left {
    display: flex;
    flex-direction: column;
    width: 70%;
}
#skaters .skater {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    font-weight: bold;
    flex-grow: 1;
}
.skater.steve-caballero {
    background-image: url("../assets//sk8er-1.png");
}
.skater.tommy-guerrero {
    background-image: url("../assets//sk8er-2.png");
}
.skater.rodney-mullen {
    background-image: url("../assets//sk8er-3.png");
}
.skater.lance-mountain {
    background-image: url("../assets//sk8er-4.png");
}
.flex {
    display: flex;
}
#skateboarders-flyout {
    background: red;
    padding: 3em 0;
    padding-right: 0;
    padding-left: 1em;
    color: white;
    position: absolute;
    top: 9%;
    left: -13em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-transform: uppercase;
}
#skateboarders-flyout-arrow {
    position: absolute;
    background: red;
    padding: 2.5rem;
    top: 14%;
    left: -6em;
    transform: rotate(45deg);
}
#skateboards {
    width: 100%;
    display: flex;
    background: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.board {
    background-size: cover;
}
#contact-us {
    background:white;
    display: flex;
    padding: 2em;
    height: 25em;
}
#contact-us .instructions {
    width: 50%;
    color: #333;
    line-height: 1.6;
    font-size: 1.2em;
}
#contact-us .instructions p {
    color: #666;
    margin-bottom: 1em;
}
#contact-us form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}
#contact-us .form-control{
    display: inline-block;
    padding: 0.25em 0.5em;
    width: 100%;
}
#contact-us .btn {
    width: 50%;
    align-self: flex-end;
    padding: 1em;
    margin-top: 1em;
    background: red;
    color: white;
    outline: none;
    border: none;
}